*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.event-banner{
    height: 90vh;
    padding: 75px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-image: url('../assets/images/concert.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    font-family: 'Poppins-black';
    position: relative;
    
    
}
.event-banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); /* This is a black tint. Adjust RGBA values as needed */
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with any interactions */
    z-index: 1; /* Sit above the background image but below the actual content */
}

.event-text-container{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 60vw;
    font-weight: 900;
    z-index: 2;
}
.event-text-container h1{
    font-size: 96px;
    
    
}
.span{
    color: #ce3197;
}
.banner-title{
    font-size: 3rem;
}
.banner-caption{
    font-size: 2rem;
}
.banner-link{
    text-decoration: none;
    border: 1px solid #ce3197;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font: 1.5rem;
    color: white;
    background-color: #ce3197;
}


.event-slide-container{
    padding:40px;
    display: flex;
    flex-direction: column;
    font-family: 'CustomFont';
    
}
.category-container{
    display: flex;
    list-style:none;
    gap: 10px;
    font-size: 1.25rem;
    
}

.event-container{
    display: flex;
    padding-top: 10px;
    gap: 25px;
    flex: 2;

    
    
}

.slide-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    
}

.card-img{
   width: 100%;
   flex: 2;
   
}
.banner-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); /* This is a black tint. Adjust RGBA values as needed */
    pointer-events: none; /* Ensure the pseudo-element doesn't interfere with any interactions */
    z-index: 1; /* Sit above the background image but below the actual content */
}
.banner-container{
    margin: 40px;
    background-image: url("../assets/images/gradient.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins-black';
}



.banner{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    font-family: 'CustomFont';
    text-align: center;
    padding: 20px;
    
}

.banner h1{
    font-size: 3rem;
    z-index: 3;
    
}
.banner p{
    font-size:1rem;
    z-index: 3;
}
.rewards-img-container{
    width: 100%;
    padding: 40px;
}
.rewards-img-container img{
    width: 100%;
    
}