.show-selection-container{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

.ticket-info-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.ticket-info{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.price-tag{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.super-seller{
    display: flex;
    gap: 5px;
}

.quantity-purchase-container{
    display: flex;
    gap: 10px;
}

.selection-container{
    flex-grow: 1;
}

.checkout-btn-container{
    flex-grow: 1;
}
#quantity-select{
    width:100%;
    height: 3rem;
    border-radius: 10px;
}
#checkout-btn{
    width: 100%;
    height: 3rem;
    background-color: #ef39c1;
    text-decoration: none;
    border:none;
    border-radius:10px;
    
}

.ticket-text-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}